# Environments
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Streamlit
.streamlit/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Temporary
frontend-modern/
